<div style="position:relative; z-index:99999999999999999999;" >
<input type="image" src="images/apweb2.png" alt="" style="width: 100%; height: 55rem;">
<!-- Header -->
<header id="header" class="alt">
	<div class="logo"><a href="/">TBS Pre Cotización Pagina Web<span></span></a></div>
	<a href="#menu"><span>Menu</span></a> 
</header>
<!-- Nav -->
<nav style="position:absolute; z-index: 99999999999999; color:white" id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a></li>				
			<li><a href="/Staffing"><strong>Staffing</strong></a></li>
			<li><a href="/SoftDev"><strong>Software Factory</strong></a></li>
		<div hidden>
		<hr>
		<div class="dropdown" >
			<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
				Areas de desarrollo
			</button>
			<ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
				<li><a class="dropdown-item" href="webap.html">Web apps / Mobile / Web Design</a></li>
				<li><a class="dropdown-item" href="discovery.html">Discovery & Design Thinking</a></li>
				<li><a class="dropdown-item" href="IOT.html">I.O.T</a></li>
				<li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
				<li><a class="dropdown-item" href="IA.html">A.I. / I.A. Bots</a></li>
				<li><a class="dropdown-item" href="BigData.html">Big Data</a></li>
				<li><a class="dropdown-item" href="gaming.html">Gaming</a></li>
				<li><a class="dropdown-item" href="QA.html">Q.A. analist & testing</a></li>
				<li><a class="dropdown-item" href="ciberSec.html">Ciber Security</a></li>
				<li><a class="dropdown-item" href="serverless.html">Clouding & Serverless</a></li>
			</ul>
		</div>
		<hr>
		<div class="dropdown" >
			<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
				Industrias 
			</button>
			<ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
				<li><a class="dropdown-item" href="webap.html">Fintech & Banking</a></li>
				<li><a class="dropdown-item" href="webap.html">Ingeniería & Mecatronica</a></li>
				<li><a class="dropdown-item" href="discovery.html">Retails & Distributions</a></li>
				<li><a class="dropdown-item" href="IOT.html"></a></li>
				<li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
				<li><a class="dropdown-item" href="IA.html">Healt & Pharma</a></li>
				<li><a class="dropdown-item" href="BigData.html">B2B</a></li>						
			</ul>
		</div>
		<br>
	</div>
			<li><a href="/Nosotros">Nosotros</a></li>
			<li hidden><a href="elements.html">Valores / Misión</a></li>
			<li><a href="#five">Países donde tenemos presencia</a></li>
			<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal1">Únete a Nosotros / Se un Partner</a></li>
			<li hidden><a href="/Partner"></a></li>
			<li><a href="#footer">Contacto</a></li>
			<li hidden ><a href="#footer">Casos de éxitos</a></li hidden>
	</ul>
</nav>
<div>
	<section style="margin: -55% 0 0 0 ; position: absolute;" id="post" class="" data-bg="">
		<article style="width: 70%; margin:auto; padding:1.5rem; height: auto;" class="">
			<div style=" border-radius: 1rem; margin-bottom: -25rem; padding: 0.95rem; z-index: 2;width: 100%rem; background-color: rgb(38, 36, 36); opacity: 0.9;" class="fijoArriba ">				
						<header style="5rem auto" class="center ">
							<h1>Pre-Cotización de Pagina WEB</h2>
						</header>
						<div style="justify-content: center ; color: aliceblue ; align-items: center;">
							<p>
								<strong>{{data.Nombre}}</strong> queremos expresarte nuestro agradecimiento por dejarnos participar en esta inportante oportunidad. Es un privilegio, para nosotros, poder ser considerados candidatos como proveedores para ayudarlos a lograr sus objetivos.
								<br>
								TBS es una compañía dedicada a la creación de soluciones en el campo de tecnologías de la información. Contamos con talento de alto valor, con experiencia y constantemente actualizados sobre las últimas tecnologías con el fin de brindar el mejor servicio. 
								<br>
								Por tres meses o un año, por un solo recurso o un equipo completo, ofrecemos los mejores recursos con experiencia directa en su industria y con los sistemas y tecnologías que necesita, asi que nuevamente, gracias por elegirnos, como socio tecnológico, a la hora de abordar sus proyectos.
							</p>
						</div>
						<div class="container card" style="text-align: left; background-color: black; color: aliceblue ; align-items: left;">
							<h4><strong>Datos:</strong></h4>
							<p><strong>Nombre:</strong> {{data.Nombre}} <span></span><strong>Apellido:</strong> {{data.Apellido}}</p> 
							<p><strong>Empresa:</strong> {{data.Empresa}}<span></span><strong>Email:</strong> {{data.Email}}</p>
							<p><strong> Moneda de facturación:</strong> {{data.Moneda}}</p>
							<p> <strong> Propuesta Comercial </strong>
							<br>
							El precio puede variar y va desde un inicial de <strong> Valor {{data.Moneda}}: ${{suma}}</strong> hasta según requerimientos del cliente.
							<br>
							Mas iva e impuestos.
							<br>
							Mantenimiento mensual con un 50% de descuento.
							<br>
							Todos los precios son tentativos, están sujetos a una negociación final y a la presentación de una propuesta formal que incluye: NDA, SLA´s condiciones comerciales, garantías, seguros, forma de pagos y descuentos convenidos.
							<br>
							consulte con su Ejecutivo de cuentas asignado todas las cuestiones técnicas y dudas que tenga asi como bonificaciones.
							<br>
						<div style="width: 100%; margin: auto; text-align: center;" class="center"></div>
							<p>
								*Nuestro Ejecutivo de Cuentas se pondrá en contacto con usted en la fecha y el horario que nos indico
								<br>
								Fecha de contacto: {{data.fechaContact}} de la ciudad de {{data.Ciudad}}.
								<br>
								Tipo de contacto:  ${{data.tipoCont}}
								<br>    
								Observaciones:
								<br>
								{{data.Obs}}
								<br>
							</p>
						</div>
						<form action="/cotizarSoftware" method="get">
							<button style="font-size: 1rem; padding: 0.5rem; margin: -1.5rem 5rem 0 30rem;" class="alerta label" type="submit">Volver</button>
						</form>
			</div>
		</article>
	</section>
</div>

</div>