
<input type="image" src="images/fondoempresas.jpg" alt="" style="margin: -2rem000; position: absolute; width: 200%; height: auto;">
<!-- Header -->
<header id="header" class="alt">
	<div class="logo"><a href="/">TBS Staffing IT Quote<span></span></a></div>
	<a href="#menu"><span>Menu</span></a>
</header>
<!-- Nav -->
<nav style="position:absolute; z-index: 99999999999999; color:white" id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a></li>				
		<li><a href="/Staffing"><strong>Staffing</strong></a></li>
		<li><a href="/SoftDev"><strong>Software Factory</strong></a></li>
			<div class="dropdown" hidden >
				<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
					Areas de desarrollo
				</button>
				<ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
					<li><a class="dropdown-item" href="webap.html">Web apps / Mobile / Web Design</a></li>
					<li><a class="dropdown-item" href="discovery.html">Discovery & Design Thinking</a></li>
					<li><a class="dropdown-item" href="IOT.html">I.O.T</a></li>
					<li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
					<li><a class="dropdown-item" href="IA.html">A.I. / I.A. Bots</a></li>
					<li><a class="dropdown-item" href="BigData.html">Big Data</a></li>
					<li><a class="dropdown-item" href="gaming.html">Gaming</a></li>
					<li><a class="dropdown-item" href="QA.html">Q.A. analist & testing</a></li>
					<li><a class="dropdown-item" href="ciberSec.html">Ciber Security</a></li>
					<li><a class="dropdown-item" href="serverless.html">Clouding & Serverless</a></li>
				</ul>
			</div>
			<div class="dropdown" hidden>
				<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
					Industrias 
				</button>
				<ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
					<li><a class="dropdown-item" href="webap.html">Fintech & Banking</a></li>
					<li><a class="dropdown-item" href="webap.html">Ingeniería & Mecatronica</a></li>
					<li><a class="dropdown-item" href="discovery.html">Retails & Distributions</a></li>
					<li><a class="dropdown-item" href="IOT.html"></a></li>
					<li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
					<li><a class="dropdown-item" href="IA.html">Healt & Pharma</a></li>
					<li><a class="dropdown-item" href="BigData.html">B2B</a></li>						
				</ul>
			</div>
		<li><a href="/Nosotros">Nosotros</a></li>
		<li><a href="/#five">Industrias</a></li>		
		<li><a href="/#six">Países donde tenemos presencia</a></li>
		<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal1">Únete a Nosotros / Se un Partner</a></li>
		<li><a href="#footer">Contacto</a></li>
		<br>
		<a  data-bs-toggle="modal" data-bs-target="#signin1" class="none" type="submit">
			<input style=" width:14rem; height:10rem; border-radius: 0.5rem;" type="image" src="/images/TBS-IT1.jpg"/>
		</a>
	</ul>
</nav>
<div>
	<section style="margin: 0.5rem auto ;" id="post" class="" data-bg="">
		<article style="width: 70%; margin:auto; padding:1.5rem; height: auto;" class="">
			<div style="" class="">
				
				<div style="margin-bottom: -25rem; padding: 0.95rem; z-index: 2;width: 100%rem; background-color: rgb(38, 36, 36); opacity: 0.9;" class="fijoArriba ">				
					<header style="5rem auto" class="center ">
						<h1>Cotización de Staffing IT</h2>
					</header>
					<div style="text-align: center; margin:auto;">
						<div style="margin:0.5rem; height: auto; width: auto; font-size: 1.5rem;">
                            <h4>{{Nombre}} vamos a formar tu Dream Team</h3>
                                    <h6>Horas mensuales mínimas 160. <br>
                                    De izquierda a derecha elegí la tecnología del talento que necesitas, Señority, idioma, etc presionas agregar y así formas el equipo que necesitas. <br> Abajo calcula automáticamente los costos iniciales. </h6>
							<div style="color: aliceblue; margin: 0 0 1.5rem 0rem;">
								<form style="margin:0 ;" action="/cotizandoIT" method="post">
									<div style="margin:2rem000" class="flexlado" >
										{{!-- Tecno --}}
										<div class="form-floating">
											<input autocomplete="off" style="background-color: black; color: aliceblue;" list="tec12" type="text" class="form-control" id="floatingInput123" placeholder=" " name="tecno"  required>
											<label for="floatingInput123">Tecnologías</label>
											<datalist id="tec12">
												<select name="">
													<optgroup label="Backend">
														<option value="Full Stack LAMP">Full Stack LAMP</option>
														<option value="Full Stack MERN / MEAN">Full Stack MERN / MEAN</option>
														<option value="Full Stack Grl.">Full Stack Grl.</option>
														<option value='JAVA'>JAVA</option>
														<option value="JS">JS</option>
														<option value="NODE">NODE</option>
														<option value="Django">Django</option>
														<option value="Python">Python</option>
														<option value="GO">GO</option>
														<option value="PHP">PHP</option>
														<option value="C#">C#</option>
														<option value="C++">C++</option>
														<option value=".Net">.Net/ Net core</option>
														<option value="Kotlin">Kotlin</option>
														<option value="Pearl">Pearl</option>
														<option value="Apache">Apache</option>
														<option value="Ruby">Ruby / Rubi on rails</option>
														<option value="Cobol">Cobol</option>
														<option value="QA Manual">QA Manual</option>
														<option value="QA Automation">QA Automation</option>
													</optgroup>
													<p><strong>Frontend</strong></p>
													<option value="React">React</option>
													<option value="Maquetador HTML CSS">Maquetador HTML CSS</option>
													<option value="React Native">React Native</option>
													<option value="Angular">Angular</option>
													<option value="HTML">HTML</option>
													<option value="CSS + (Boostrap)">CSS + (Boostrap)</option>
													<option value="VUE">VUE</option>
													<option value="Type Script">Type Script</option>
													<option value="JQuery">JQuery</option>
													<option value="Flutter">Flutter</option>
													<label><strong>Mobile</strong></p>
													<option value="IOS / Swift">IOS / Swift</option>
													<option value="Android">Android</option>
													<p><strong>Full´s Stack´s</strong></p>
													<option value="MERN">MERN</option>
													<option value="MEAN">MEAN</option>
													<option value="LAMP">LAMP</option>
													<p><strong>O.S.</strong></p>
													<option value="Linux">Linux</option>
													<option value="Windows / Win Mobile">Windows / Win Mobile</option>
													<option value="Android">Android</option>
													<option value="IOS">IOS</option>
													<p><strong>Bases de Datos</strong></p>
													<option value="SQL">SQL</option>
													<option value="Mongo DB">Mongo DB</option>
													<p><strong>Agile</strong></p>
													<option value="Scrumm">Scrumm</option>
													<option value="Devop´s">Devop´s</option>
													<option value="PM / PO">PM / PO</option>
												</select>
											</datalist>
										</div>
										<span></span>
										{{!-- Señority --}}
										<div class="form-floating">
											<input autocomplete="off" style="background-color: black; color: aliceblue;" list="senority1" type="text" class="form-control" id="senority" placeholder=" " name="senority" required>
											<label for="senority">Señority</label>
											<datalist id="senority1">
												<select>
													<option value="Junior 1 año">Junior 1 año</option>
													<option value="Junior Advance 2años">Junior Advance 2años</option>
													<option value="Semi Senior 4 años">Semi Senior 4 años</option>
													<option value="Senior 6 años">Senior 6 años </option>
													<option value="Technical Leader 8 años">Technical Leader 8 años</option>
												</select>
											</datalist>
										</div>
										<span></span>
										{{!-- Meses --}}
										<div class="form-floating">
											<input autocomplete="off" style="background-color: black; color: aliceblue;" list="mes1" type="text" class="form-control" id="Cantmeses22" placeholder=" " name="Cantmeses" required>
											<label for="Cantmeses22">Tiempo</label>
											<datalist id="mes1">
												<select name="" >
													<option value="3 meses">3 meses</option>
													<option value="6 meses">6 meses</option>
													<option value="9 meses">9 meses</option>
													<option value="12 meses">12 meses</option>
												</select>
											</datalist>
										</div>
										<span></span>
										{{!-- Idioma --}}
										<div class="form-floating">
											<input autocomplete="off" style="background-color: black; color: aliceblue;" list="idioma1" type="text" class="form-control" id="Idioma22" placeholder=" " name="Idioma" required>
											<label for="Idioma22">Idioma</label>
											<datalist id="idioma1">
												<select name="" >
													<option value="Español">Español</option>
													<option value="Ingles">Ingles</option>
													<option value="Frances">Frances</option>
													<option value="Chino">Chino</option>
													<option value="Aleman">Aleman</option>
													<option value="Otro">Otro</option>
												</select>
											</datalist>
										</div> 
										<span></span>
										{{!-- Pais  --}}
										<div class="form-floating" >
											<input autocomplete="off" style="background-color: black; color: aliceblue;" list="pais1" type="text" class="form-control" id="Pais22" placeholder=" " name="Pais" required>
											<label for="Pais22">Lugar Trabajo</label>
											<datalist id="pais1">
												<select name="" >
													<option value="Argentina">Argentina</option>
													<option value="Latam sin Arg.">Latam sin Arg.</option>
													<option value="Europa">Europa</option>
													<option value="USA">USA</option>
													<option value="Otro">Otro</option>
												</select>
											</datalist>
										</div> 
										<span></span>
										{{!-- ocultos solo para traspaso y gurdar --}}
										<div>
											<input value="{{fullStack1}}"type="text"name="fullStack1"hidden>
											<input value="{{Email}}"    type="email"name="Email"    hidden>
											<input value="{{Nombre}}"   type="text" name="Nombre"   hidden>
											<input value="{{Apellido}}" type="text" name="Apellido" hidden>
											<input value="{{Ciudad}}"   type="text" name="Ciudad"   hidden>
											<input value="{{NumCel}}"   type="text" name="NumCel"   hidden>
											<input value="{{Empresa}}"  type="text" name="Empresa"  hidden>
											<input value="{{PagWeb}}"   type="text" name="PagWeb"   hidden>
											<input value="{{Moneda}}"   type="text" name="Moneda"   hidden>
											<input value="{{ID}}"       type="text" name="ID"       hidden>
										</div>
										<input type="text" name="token" value="{{token}}" hidden>
										{{!-- boton --}}
										<div style="padding: 0.3rem ;" class="form-floating">
											<button id="boton222" class="btn btn-success" type="">Agregar</button>
										</div>
									</div>
								</form>	
							</div>
						</div>
					</div>
				</div>

	{{!-- insertos --}}
					<div style="width: 100%; position: relative; z-index: 1; opacity: 0.9; margin: 25rem auto ; background-color: black ; color: white; font-size: 0.95rem;" class="" id="">
					<table class="table table-dark table-hover">
						{{#if ID}}
							<thead >
								<tr style="font-size: 1.5rem;">
								<th scope="col">Tecnologia</th>
								<th scope="col">Señority</th>
								<th scope="col">Tiempo</th>
								<th scope="col">Idioma</th>
								<th scope="col">Moneda</th>
								<th scope="col">Pais Trabaja</th>
								<th scope="col">Sub Total</th>
								<th scope="col">Eliminar</th>
								</tr>
							</thead>
						{{/if}}
						{{#each talents}}
						<tbody style="font-size: 1.1rem;color: aliceblue;">
							<tr style="padding:0">
								<td  style=" padding:1rem 0 -12rem 0">{{tecno}}</td>
								<td  style=" padding:1rem 0 -12rem 0">{{senority}}</td>
								<td  style=" padding:1rem 0 -12rem 0">{{Cantmeses}}</td>
								<td  style=" padding:1rem 0 -12rem 0">{{Idioma}}</td>
								<td  style=" padding:1rem 0 -12rem 0">{{Moneda}}</td>
								<td  style=" padding:1rem 0 -12rem 0">{{Pais}}</td>
								<td  style=" padding:1rem 0 -12rem 0">{{#if pesosArg}}U$S{{else}}${{/if}}{{Precio}}</td>
								<td  style=" padding:1rem 0 -12rem 0">
									<form action="/eliminarTalento" method="post">
									<div>
										<input value="{{_id}}"      type="text" name="_id"       hidden>
										<input value="{{Email}}"    type="email"name="Email"    hidden>
										<input value="{{Nombre}}"   type="text" name="Nombre"   hidden>
										<input value="{{Apellido}}" type="text" name="Apellido" hidden>
										<input value="{{Ciudad}}"   type="text" name="Ciudad"   hidden>
										<input value="{{NumCel}}"   type="text" name="NumCel"   hidden>
										<input value="{{Empresa}}"  type="text" name="Empresa"  hidden>
										<input value="{{PagWeb}}"   type="text" name="PagWeb"   hidden>
										<input value="{{Moneda}}"   type="text" name="Moneda"   hidden>
										<input value="{{ID}}"       type="text" name="ID"       hidden>
										<input value="{{fullStack1}}"type="text"name="fullStack1"hidden>
									</div>
										<button style="margin: 0; padding: 0;"  type="submit" class="none" ><img style="margin: 0; padding: 0;" src="/images/trash.png" class="icon " alt="" srcset=""></button>
									</form>
								</td> 
							</tr>
						</tbody>
						{{/each}}
					</table>
					{{!-- footer de calcular --}}
					<div class="fijoAbajo btn btn-danger">
						<div class="flex">
							{{!-- Para borrar todo y volver a empezar --}}
							<form action="/reset" method="post">
								<div>
									<input value="{{Email}}"    type="email"name="Email"    hidden>
									<input value="{{ID}}"       type="text" name="ID"       hidden>
									<input type="text" name="token" value="{{token}}" hidden>
								</div>
								<input type="email" value="{{Email}}" name="Email" hidden>
								<button class="alertaVerde" >Borrar todo</button>
							</form>
							<p style="padding: 0.3rem;">Cantidad de talentos</p><span>{{cantTal}}</span>
							<span></span>
							<p style="padding: 0.3rem;">Total de horas</p><span>{{totalHoras}}</span>
							<span></span>
							{{#if pesosArg}}
								<p style="padding: 0.3rem;" >Promedio por hora</p><span>${{costoHoraPromedio}}</span>
								<span></span>
								<p style="padding: 0.3rem;">Total</p><span>${{costoFinal}}</span>
								<span></span>
									{{!-- Calcula la coti en pesos --}}
								<form action="/calculandoCotizacion" method="post">
									<div>
										<input value="{{fullStack1}}"        name="fullStack1"        hidden>
										<input value="{{Email}}"             name="Email"             hidden>
										<input value="{{Nombre}}"            name="Nombre"            hidden>
										<input value="{{Apellido}}"          name="Apellido"          hidden>
										<input value="{{Ciudad}}"            name="Ciudad"            hidden>
										<input value="{{NumCel}}"            name="NumCel"            hidden>
										<input value="{{Empresa}}"           name="Empresa"           hidden>
										<input value="{{PagWeb}}"            name="PagWeb"            hidden>
										<input value="{{Moneda}}"            name="Moneda"            hidden>
										<input value="{{_id}}"               name="ID"                hidden>
										<input value="{{costoHoraPromedio}}" name="costoHoraPromedio" hidden>
										<input value="{{costoFinal}}"        name="costoFinal"        hidden>
										<input value="{{totalHoras}}"        name="totalHoras"        hidden>
										<input value="{{cantTal}}"           name="cantTal"           hidden>
										<input value="{{talents}}"           name="talents"           hidden>
										<input value="{{pesosArg}}"          name="pesosArg"          hidden>
										<input type="text" name="token" value="{{token}}" hidden>
									</div>
									<button type="submit" class="alertaVerde" >Calcular</button>
								</form>
								<div style="width: 110%; margin: -2.5rem 0014rem; text-align: center;" class="center">
									<p>*Consulta por importantes descuentos </p>
									<p>Los precios no incluyen iva ni impuestos y son expresados en pesos Argentinos</p>
								<br>
								</div>
							{{else}}
								<p style="padding: 0.3rem;" >Promedio por hora</p><span>U$S{{costoHoraPromedio}}</span>
								<span></span>
								<p style="padding: 0.3rem;">Total</p><span>U$S{{costoFinal}}</span>
								<span></span>
								{{!-- Calcula la coti en dolares --}}
								<form action="/calculandoCotizacion" method="post">
									<div> 
										<input value="{{fullStack1}}"        name="fullStack1"        hidden>
										<input value="{{Email}}"             name="Email"             hidden>
										<input value="{{Nombre}}"            name="Nombre"            hidden>
										<input value="{{Apellido}}"          name="Apellido"          hidden>
										<input value="{{Ciudad}}"            name="Ciudad"            hidden>
										<input value="{{NumCel}}"            name="NumCel"            hidden>
										<input value="{{Empresa}}"           name="Empresa"           hidden>
										<input value="{{PagWeb}}"            name="PagWeb"            hidden>
										<input value="{{Moneda}}"            name="Moneda"            hidden>
										<input value="{{ID}}"                name="ID"                hidden>
										<input value="{{costoHoraPromedio}}" name="costoHoraPromedio" hidden>
										<input value="{{costoFinal}}"        name="costoFinal"        hidden>
										<input value="{{totalHoras}}"        name="totalHoras"        hidden>
										<input value="{{cantTal}}"           name="cantTal"           hidden>
										<input value="{{talents}}"           name="talents"           hidden>
										<input type="text" name="token" value="{{token}}" hidden>
									</div>
									<button type="submit" class="alertaVerde" >Calcular</button>
								</form>
								<div style="width: 110%; margin: -2.5rem 0014rem; text-align: center;" class="center">
									<p>*Consulta por importantes descuentos </p>
									<p>Los precios no incluyen iva ni impuestos y son expresados en dólares americanos</p>
								<br>
							{{/if}}
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
</div>



