<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar bg-danger"  aria-label="Main navigation"  >
    <div style="margin:-2rem 1rem -0.5rem 1rem !important;" class="container-xxl">
        <a class="navbar-brand" href="/"> <strong> TBS Staffing S.G.N.S.</strong></a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        </button>
        <a class="btn btn-danger" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="bi bi-list" style="font-size: 1.5em;"></i></a>
        <div class="offcanvas offcanvas-end" style="background-color:rgb(224, 55, 55) ;" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ">
                <ul class="links">
                    <li class="">
                        <a class="" aria-current="page" href="/">Home</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Staffing">Staffing</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/SoftDev">Software Factory</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/Nosotros">Nosotros</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="/#paises">Paises donde tenemos precensia</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">Unete a nosotros / se un Partner </a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="" href="#footer">Contact</a>
                        <li><hr class="dropdown-divider"></li>
                    </li>
                    <li class="">
                        <a class="navbar-brand" href="#">
                            <img src="/images/TBS-IT1.jpg" alt="" data-bs-toggle="modal" data-bs-target="#signin1"  width="210" height="180">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- end of container -->
</nav> <!-- end of navbar -->
    <!-- end of navigation -->
    <!-- modal de cotizacion -->
 


<section class="home2 py-5 d-flex align-items-center">
  <div class="text-center pb-4">
        <h2 class="py-5"></h2>
    </div>
  <div class="container  py-5" >
<div align="center" class="card py-2" style="border-radius: 1rem !important;background-color: rgb(38, 36, 36); opacity: 0.995;" >
  <div class="card-body">
    <div class="row g-2">
          <div style="margin: 2rem 0 2rem 0 !important;" align="center">
            <h2> Cotización de Staffing IT</h2>
            <br>
            <h2>Responde esta consulta y te enviaremos tu cotización</h2>
						<h4>	
							¿Cuando nuestro ejecutivo de cuentas puede ponerse en contacto?
						</h4>
          </div>
						<br>
      <div class="col-md">
        <form action="/EnviarCotizacion" method="post" style="">
        <div class="form-floating">
        <input name="fechaContact" style="color: black; background-color: gray;" type="datetime-local" class="form-control" id="floatingInput77" placeholder=" " required>
        </div>
      </div>
				{{!-- zoom & google meet --}}
          <div class="col-md">
                <div class="form-floating">
                  <input autocomplete="off" style="color: black; background-color: gray;" list="idioma1" type="text" class="form-control" id="Idioma22" placeholder=" " name="tipoCont" required>
                  <label for="Idioma22">Tipo de contacto</label>
                  <datalist id="idioma1">
                    <select name="" >
                      <option value="Zoom">Zoom</option>
                      <option value="GoogleMeet">GoogleMeet</option>
                    </select>
                  </datalist>
                </div>
          </div>
          <textarea style=" background-color: gray" placeholder="Observaciones" name="Obs" id="" cols="10" rows="5"></textarea>
							<p>Completa todos los campos</p>
							<div>
									<input value="{{fullStack1}}"        name="fullStack1"        hidden>
									<input value="{{Email}}"             name="Email"             hidden>
									<input value="{{Nombre}}"            name="Nombre"            hidden>
									<input value="{{Apellido}}"          name="Apellido"          hidden>
									<input value="{{Ciudad}}"            name="Ciudad"            hidden>
									<input value="{{NumCel}}"            name="NumCel"            hidden>
									<input value="{{Empresa}}"           name="Empresa"           hidden>
									<input value="{{PagWeb}}"            name="PagWeb"            hidden>
									<input value="{{Moneda}}"            name="Moneda"            hidden>
									<input value="{{ID}}"                name="ID"                hidden>
									<input value="{{costoHoraPromedio}}" name="costoHoraPromedio" hidden>
									<input value="{{costoFinal}}"        name="costoFinal"        hidden>
									<input value="{{totalHoras}}"        name="totalHoras"        hidden>
									<input value="{{cantTal}}"           name="cantTal"           hidden>
									<input value="{{talents}}"           name="talents"           hidden>
									<input value="{{pesosArg}}"          name="pesosArg"          hidden>
									<input value="{{_id}}"               name="_id"               hidden>
									<input type="text" name="token" value="{{token}}" hidden>
                  <button style="" type="submit" class="alertaVerde" >Ver Cotización</button>
            </div>      
					</form>
					<div align="center" style="" >
              {{#if SD}}
                <form action="/cotizarSoftware" method="get">
                  <button style="" class="alerta label" type="submit">Volver</button>
                </form>
              {{else}}
                {{!-- Vuelve a cotizando con los mismos datos --}}
                <form action="/cotizandoIT" method="post">
                      <div>
                        <input value="{{fullStack1}}"        name="fullStack1"        hidden>
                        <input value="{{Email}}"             name="Email"             hidden>
                        <input value="{{Nombre}}"            name="Nombre"            hidden>
                        <input value="{{Apellido}}"          name="Apellido"          hidden>
                        <input value="{{Ciudad}}"            name="Ciudad"            hidden>
                        <input value="{{NumCel}}"            name="NumCel"            hidden>
                        <input value="{{Empresa}}"           name="Empresa"           hidden>
                        <input value="{{PagWeb}}"            name="PagWeb"            hidden>
                        <input value="{{Moneda}}"            name="Moneda"            hidden>
                        <input value="{{ID}}"                name="ID"                hidden>
                        <input value="{{costoHoraPromedio}}" name="costoHoraPromedio" hidden>
                        <input value="{{costoFinal}}"        name="costoFinal"        hidden>
                        <input value="{{totalHoras}}"        name="totalHoras"        hidden>
                        <input value="{{cantTal}}"           name="cantTal"           hidden>
                        <input value="{{talents}}"           name="talents"           hidden>
                        <input value="{{pesosArg}}"          name="pesosArg"          hidden>
                      <input type="text" name="token" value="{{token}}" hidden>
                      </div>
                      <button style="" class="alerta label" type="submit">Volver</button>
                </form>
              {{/if}}
          </div>
      </div>
</div>
</div>
</section>
<section class="home2 py-5">
     <div class="text-center pb-4">
        <h2 class="py-5"></h2>
    </div>
</section>