<div style="position:relative; z-index:99999999999999999999;" >
	<input type="image" src="images/fondoempresas.jpg" alt="" style="margin: -2rem000; position: absolute; width: 200%; height: auto;">
	<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="/">TBS Staffing IT Quote<span></span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>
	<!-- Nav -->
	<nav style="position:absolute; z-index: 99999999999999; color:white" id="menu">
	<ul class="links">
	<li><a href="/">Home</a></li>
	<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal">Cotizar</a></li>				
		<li><a href="/Staffing"><strong>Staffing</strong></a></li>
		<li><a href="/SoftDev"><strong>Software Factory</strong></a></li>
	<div hidden>
	<hr>
	<div class="dropdown" >
		<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
			Areas de desarrollo
		</button>
		<ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
			<li><a class="dropdown-item" href="webap.html">Web apps / Mobile / Web Design</a></li>
			<li><a class="dropdown-item" href="discovery.html">Discovery & Design Thinking</a></li>
			<li><a class="dropdown-item" href="IOT.html">I.O.T</a></li>
			<li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
			<li><a class="dropdown-item" href="IA.html">A.I. / I.A. Bots</a></li>
			<li><a class="dropdown-item" href="BigData.html">Big Data</a></li>
			<li><a class="dropdown-item" href="gaming.html">Gaming</a></li>
			<li><a class="dropdown-item" href="QA.html">Q.A. analist & testing</a></li>
			<li><a class="dropdown-item" href="ciberSec.html">Ciber Security</a></li>
			<li><a class="dropdown-item" href="serverless.html">Clouding & Serverless</a></li>
		</ul>
	</div>
	<hr>
	<div class="dropdown" >
		<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-target="dropdown" aria-expanded="false">
			Industrias 
		</button>
		<ul style="background-color: rgb(248, 98, 11) ;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
			<li><a class="dropdown-item" href="webap.html">Fintech & Banking</a></li>
			<li><a class="dropdown-item" href="webap.html">Ingenieria & Mecatronica</a></li>
			<li><a class="dropdown-item" href="discovery.html">Retails & Distributions</a></li>
			<li><a class="dropdown-item" href="IOT.html"></a></li>
			<li><a class="dropdown-item" href="blockChain.html">Block Chain</a></li>
			<li><a class="dropdown-item" href="IA.html">Healt & Pharma</a></li>
			<li><a class="dropdown-item" href="BigData.html">B2B</a></li>						
		</ul>
	</div>
	<br>
	</div>
		<li><a href="/Nosotros">Nosotros</a></li>
		<li hidden><a href="elements.html">Valores / Misión</a></li>
		<li><a href="#five">Países donde tenemos presencia</a></li>
		<li style="cursor: pointer;" ><a data-bs-toggle="modal" data-bs-target="#exampleModal1">Únete a Nosotros / Se un Partner</a></li>
		<li hidden><a href="/Partner"></a></li>
		<li><a href="#footer">Contacto</a></li>
		<li hidden ><a href="#footer">Casos de éxitos</a></li hidden>
	</ul>
	</nav>
	<section style="margin: 0.5rem auto ;" id="post" class="" data-bg="">
		<article style="width: 70%; margin:auto; padding:1.5rem; height: auto;" class="">
				<div style="margin-bottom: -25rem; padding: 0.95rem; z-index: 2;width: 100%rem; background-color: rgb(38, 36, 36); opacity: 0.9;" class="fijoArriba ">				
							<header style="5rem auto" class="center ">
								<h1>Cotización de Staffing IT</h2>
							</header>
							<div style="justify-content: center ; color: aliceblue ; align-items: center;">
								<p>
									{{Nombre}} queremos expresarte nuestro agradecimiento por dejarnos participar como oferentes de servicios en esta oportunidad. Es un privilegio, para nosotros, poder ser considerados candidatos como proveedores para ayudarlos a lograr sus objetivos.
									<br>
									TBS es una empresa dedicada a la creación de soluciones en el campo de tecnologías de la información. Contamos con talento de alto valor, con experiencia y constantemente actualizados sobre las últimas tecnologías con el fin de brindar el mejor servicio. 
									<br>
									Por tres meses o un año, por un solo recurso o un equipo completo, ofrecemos los mejores recursos con experiencia directa en su industria y con los sistemas y tecnologías que necesita, asi que nuevamente, gracias por elegirnos, como socio tecnológico, a la hora de abordar sus proyectos.
								</p>
							</div>
							<div class="container card" style="text-align: left; background-color: black; color: aliceblue ; align-items: left;">
								<h4>Datos:</h4>
								<p><strong>Nombre:</strong> {{Nombre}} <span></span><strong>Apellido:</strong> {{Apellido}}</p> 
								<p><strong>Empresa:</strong> {{Empresa}}<span></span><strong>Email:</strong> {{Email}}</p>
								<p><strong> Moneda de facturación:</strong> {{Moneda}}</p>
								<p>
									Todos los precios son tentativos, están sujetos a una negociación final y a la presentación de una propuesta formal que incluye: NDA, SLA´s condiciones comerciales, garantías, seguros, forma de pagos y descuentos convenidos.
								</p>
							<div style="width: 100%; position: relative; z-index: 1; opacity: 0.9; margin:auto ; background-color: black ; color: white; font-size: 0.95rem;" class="" id="">
								<table style="" class="table table-dark table-hover">
										<thead >
											<tr style="font-size: 1.5rem;">
											<th scope="col">Tecnología</th>
											<th scope="col">Señority</th>
											<th scope="col">Tiempo</th>
											<th scope="col">Idioma</th>
											<th scope="col" hidden>Moneda</th>
											<th scope="col">País Trabaja</th>
											<th scope="col">Sub Total</th>
											<th scope="col" hidden>Sub Total Mes</th>
											</tr>
										</thead>
									{{#each Talent1}}
									<tbody style="font-size: 1.1rem;color: aliceblue;">
										<tr style="padding:0">
											<td  style=" padding:1rem 0 -12rem 0">{{tecno}}</td>
											<td  style=" padding:1rem 0 -12rem 0">{{senority}}</td>
											<td  style=" padding:1rem 0 -12rem 0">{{Cantmeses}}</td>
											<td  style=" padding:1rem 0 -12rem 0">{{Idioma}}</td>
											<td  style=" padding:1rem 0 -12rem 0" hidden>{{Moneda}}</td>
											<td  style=" padding:1rem 0 -12rem 0">{{Pais}}</td>
											<td  style=" padding:1rem 0 -12rem 0">{{#if pesosArg}}U$S{{else}}${{/if}}{{Precio}}
											<td  style=" padding:1rem 0 -12rem 0" hidden>{{#if pesosArg}}U$S{{else}}${{/if}}{{PrecioMes}}
											</td>
											<td  style=" padding:1rem 0 -12rem 0">	</td>
										</tr>
									</tbody>
									{{/each}}
								</table>
							</div>
							{{!-- resumen de calcular --}}
							<div class="fijoAbajo btn btn-danger">
								<div class="flex">
									<p style="padding: 0.3rem;">Cantidad de talentos</p><span>{{cantTal}}</span>
									<span></span>
									<p style="padding: 0.3rem;">Total de horas</p><span>{{totalHoras}}</span>
									<span></span>
									{{#if pesosArg}}
									<p style="padding: 0.3rem;" >Promedio por hora</p><span>${{costoHoraPromedio}}</span>
									<span></span>
									<p style="padding: 0.3rem;" hidden>Mensual</p><span hidden>${{PrecioMes}}</span>
									<span></span>
									<p style="padding: 0.3rem;">Total Contrato</p><span>${{costoFinal}}</span>
									<span></span>
									<div style="width: 110%; margin: 0.1rem auto; text-align: center;" class="center">
										<p>*Consulta por importantes descuentos </p>
										<p>Los precios no incluyen iva ni impuestos y son expresados en pesos Argentinos</p>
									<br>
									</div>
									{{else}}
									<p style="padding: 0.3rem;" >Promedio por hora</p><span>${{costoHoraPromedio}}</span>
									<span></span>
									<p style="padding: 0.3rem;" hidden>Mensual</p><span hidden>${{PrecioMes}}</span>
									<span></span>
									<p style="padding: 0.3rem;">Total Contrato</p><span>U$S{{costoFinal}}</span>
									<span></span>
									<br>
									<div style="width: 110%; margin: 0.1rem auto; text-align: center;" class="center">
										<p>*Consulta por importantes descuentos </p>
										<p>Los precios no incluyen iva ni impuestos y son expresados en dólares americanos</p>
									</div>
									{{/if}}
									<form  action="/finalCoti" method="post">
									<div style="margin: 0rem 0 -1.5rem 30rem;">
										{{!-- ocultos solo para traspaso y gurdar --}}
										<div>											
											<input value="{{Nombre}}" name="Nombre" hidden>
										</div>
										<button type="submit" class="alertaVerde" >Terminar</button>
									</div>
									</form>
								</div>
							</div>
				</div>
		</article>
	</section>
</div>


